/******************************************************************
RESET STYLES
******************************************************************/

/* general reset */
html, body, div, span, object, embed, ruby, output, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }     
html { overflow-y: scroll; }

/* html 5 reset */             
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }

/* ul & li resets */
ol, ul { list-style: none; }

/* blockquote reset */
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }

/* link style resets */
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
a:hover, a:active { outline: none; }

/* table resets */
table { border-collapse:collapse; border-spacing:0; }
td, td img { vertical-align: top; } 

/* type & header styles */
body { font-size:14px; line-height: 1.5em; font-family: Georgia, Cambria, "New Century Schoolbook", "Century Schoolbook L", "Times New Roman", serif;  *font-size:small; } 
p { hyphenate:auto; hyphenate-before:2; hyphenate-after:3; hyphenate-lines:3; orphans:4; }
select, input, textarea, button { font:99% sans-serif; }
body, select, input, textarea {   color: #444; }
small, .small { font-size:0.75em; letter-spacing:.05em; font-style:italic; line-height:1.75em; }
strong, th, .strong { font-weight: bold; }
em, .em { font-style: italic; }
ins, .ins { background-color:#ff9; color:#000; text-decoration:none; }
mark, .mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del, .del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

/* code & pre box resets */
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }

/* form & input resets */
pre, code, kbd, samp { font-family: monospace, sans-serif; margin: 1.5em; }
input, select { vertical-align:middle; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }
button {  width: auto; overflow: visible; }

/* text highlight reset */
::-moz-selection{ background: #6fc2f6; color:#fff; text-shadow: none; }
::selection { background:#6fc2f6; color:#fff; text-shadow: none; }

/* image resets */
.ie7 img { -ms-interpolation-mode: bicubic; }

/* hidden elements */
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }

/* clearfixes */
.clear:after, .menu:after, .menu ul:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clear { display: inline-block; }
* html .clear { height: 1%; }
.clear { display: block; }

/******************************************************************
COMMON & REUSABLE STYLES
******************************************************************/

/* floats */
.left { float: left; }
.right { float: right; }

/* text alignment */
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

/* highlighting search term on search page */
mark, .search-term { background: #EBE16F; }

/* alerts & notices */
.help, .info, .error, .success { margin: 10px; padding: 10px; border: 1px solid #cecece; }
.help { border-color: #E0C618; background: #EBE16F; }
.info { border-color: #92cae4; background: #d5edf8; }
.error { border-color: #fbc2c4; background: #fbe3e4; }
.success { border-color: #c6d880; background: #e6efc2; } 

/******************************************************************
GENERAL STYLES
******************************************************************/

body { background-color: #fff; }

#container, .wrap {}

/******************************************************************
LINK STYLES
******************************************************************/

a, a:visited { color: #1a90db; text-decoration: underline; }
a:hover { color: #f01d4f; text-decoration: none; }
a:active { color: #71e81c; }
a:link {-webkit-tap-highlight-color: #f01d4f; }

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a { text-decoration: none; font-weight: 500; }
h1, .h1 { font-size:2.5em; line-height: 1.333em; }
h2, .h2 { font-size: 1.75em; line-height: 1.1em; }
h3, .h3 { font-size: 1.125em; }
h4, .h4 { font-size: 1.1em; font-weight: 700; }
h5, .h5 { font-size: 0.846em; line-height: 2.09em; text-transform: uppercase; letter-spacing: 2px; }

/******************************************************************
NAVIGATION STYLES
******************************************************************/

.menu {}
	.menu ul { }
		.menu ul li { list-style-type: none; float: left; }
			.menu ul li a { }
				.menu ul li:last-child a {}
				.menu ul li a:hover {}
		.menu ul li.current-menu-item a, .menu ul li.current_page_item a {}
		.menu ul li ul.sub-menu { position: absolute; left: -9999em; z-index: 9999; width: 210px; }
			.menu ul li ul li a { width: 180px; }
				.menu ul li ul li a:hover {}
			.menu ul li ul li:last-child a {}
			.menu ul li:hover ul { left: auto; }
				.menu ul li ul li ul.sub-menu { left: -9999em; position: absolute; margin-left: 200px; top: auto; margin-top: -30px; }
					.menu ul li ul li:hover ul.sub-menu { left: auto; }

/******************************************************************
PRINT STYLES
******************************************************************/

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}